extends ./layout/layout

block title
  title 拍拍电影网
block content
  include ./includes/header

  .page-wrapper.container-fluid
    .row
      include ./includes/sidebar

      .col-12.col-md-10.col-xl-10.py-md-3.pl-md-5.content
        .row
          .col-xs-6
            .card
              img.card-img-top(src="http://s.img.mix.sina.com.cn/auto/crop?img=http%3A%2F%2Fn.sinaimg.cn%2Fnews%2F1_img%2Fupload%2F6d34f853%2F749%2Fw930h619%2F20200103%2Fcbcd-imrkkfx1136204.jpg&size=328_218" data-video='https://vdept.bdstatic.com/68735836576b4a61543132766a667a45/4d75315348685357/48c873a01f3bd6b7541b6f69e1b63b799fc6a83da303f29b0e833a3fca5161865fa9f8c14d3ad2ee4ac3314cb45948b734d47f536ee70d500c6d50ec4fed708d.mp4?auth_key=1578142678-0-0-424398b792d397621df361513f27d882')
              .card-body
                h4.card-title 这是电影标题
                p.card-desc 这是电影描述
              .card-footer
                small.text-muted 一 天前更新
          .col-xs-6
            .card
              img.card-img-top(src="http://s.img.mix.sina.com.cn/auto/crop?img=http%3A%2F%2Fn.sinaimg.cn%2Fnews%2F1_img%2Fupload%2F6d34f853%2F749%2Fw930h619%2F20200103%2Fcbcd-imrkkfx1136204.jpg&size=328_218" data-video='https://vdept.bdstatic.com/68735836576b4a61543132766a667a45/4d75315348685357/48c873a01f3bd6b7541b6f69e1b63b799fc6a83da303f29b0e833a3fca5161865fa9f8c14d3ad2ee4ac3314cb45948b734d47f536ee70d500c6d50ec4fed708d.mp4?auth_key=1578142678-0-0-424398b792d397621df361513f27d882')
              .card-body
                h4.card-title 这是电影标题
                p.card-desc 这是电影描述
              .card-footer
                small.text-muted 一 天前更新

        .row
          .col-xs-6
            .card
              img.card-img-top(src="http://s.img.mix.sina.com.cn/auto/crop?img=http%3A%2F%2Fn.sinaimg.cn%2Fnews%2F1_img%2Fupload%2F6d34f853%2F749%2Fw930h619%2F20200103%2Fcbcd-imrkkfx1136204.jpg&size=328_218" data-video='https://vdept.bdstatic.com/68735836576b4a61543132766a667a45/4d75315348685357/48c873a01f3bd6b7541b6f69e1b63b799fc6a83da303f29b0e833a3fca5161865fa9f8c14d3ad2ee4ac3314cb45948b734d47f536ee70d500c6d50ec4fed708d.mp4?auth_key=1578142678-0-0-424398b792d397621df361513f27d882')
              .card-body
                h4.card-title 这是电影标题
                p.card-desc 这是电影描述
              .card-footer
                small.text-muted 一 天前更新
          .col-xs-6
            .card
              img.card-img-top(src="http://s.img.mix.sina.com.cn/auto/crop?img=http%3A%2F%2Fn.sinaimg.cn%2Fnews%2F1_img%2Fupload%2F6d34f853%2F749%2Fw930h619%2F20200103%2Fcbcd-imrkkfx1136204.jpg&size=328_218" data-video='https://vdept.bdstatic.com/68735836576b4a61543132766a667a45/4d75315348685357/48c873a01f3bd6b7541b6f69e1b63b799fc6a83da303f29b0e833a3fca5161865fa9f8c14d3ad2ee4ac3314cb45948b734d47f536ee70d500c6d50ec4fed708d.mp4?auth_key=1578142678-0-0-424398b792d397621df361513f27d882')
              .card-body
                h4.card-title 这是电影标题
                p.card-desc 这是电影描述
              .card-footer
                small.text-muted 一 天前更新


  #myModal.modal.fade.bd-example-modal-lg(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel", aria-hidden="true")
    .modal-dialog.modal-lg
      #videoModal.modal-content
  include ./includes/script

  script.
    var player = null;
    $(function () {
      $('#myModal').on('hidden.bs.modal', function (e) {
        if (player && player.pause) player.pause()
      })
      $('.card-img-top').click(function (e) {
        var video = $(this).data('video');
        var image = $(this).attr('src');

        $('#myModal').modal('show');

        if(!player) {
          player = new DPlayer({
            container: document.getElementById('videoModal'),
            screenshot: true,
            video: {
              url: video,
              pic: image,
              thumbnails: image
            }
          });
        } else {
          player.switchVideo({
            url: video,
            pic: image,
            type: 'auto'
          });
        }
      })
    });